:root {
    /* Background color for the entire website, including individual sections */
    --background-color: #0c0b09;
    /* Default color used for the majority of the text content across the entire website */
    --default-color: rgba(255, 255, 255, 0.7);
    /* Color for headings, subheadings and title throughout the website */
    --heading-color: #ffffff;
    /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --accent-color: #cda45e;
    /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --surface-color: #29261f;
    /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
    --contrast-color: #0c0b09;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.home {
    height: 100vh;
    background-image: url("../media/images/background-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(50%)
}

    .home h2 {
        color: white;
        text-align: center;
        padding: 1em;
        background-color: gray;
        opacity: 90%;
    }

.product-grid {
    display: grid;
    gap: 20px;
    padding: 20px 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product-card {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

    .product-card img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

.product-info {
    cursor: pointer;
}

.bg-selected {
    background-color: lightgreen;
}

@media print {
    body * {
        visibility: hidden;
    }

    #print-area,
    #print-area * {
        visibility: visible;
    }
}
